.errormsg{
    font-size: 22px;
    color: #B71C1C;
    margin: 40px 0;
    text-align: center;
}
.fullpage{
    min-height: calc(100vh - 200px);
}
.fab{
    position: absolute;
    right: 20px;
    bottom: 110px;
}